/* 
 	
	GENERAL STYLESHEET CV/RESUME TEMPLATE

	T.O.C
		=RESET
		=LAYOUT
		=COLORS-TYPOGRAPHY
		=EMAIL-ME
		=CONTACT-FORM
		
*/

/* =RESET
=------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}

/* =GENERAL
--------------------- */

body{
	background-color:#666;
	color:#333; 
	font:14px Arial, Helvetica, sans-serif;
	line-height:22px;
}

	a{ color:#0066AA; }
	strong{ font-weight:700; }
	em{ font-style:italic; }

	/* Clear Fix Hack - add  class="fixed"  to div's that have floated elements in them */
	.fixed:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
		.fixed{display:block;}
		/*  \*/
		.fixed{min-height:1%;}
		* html .fixed{height:1%;}
	
/* =LAYOUT
----------------------------------*/

#cv{ margin:66px auto 0 auto; width:80%; padding:0 0 40px;  }

	.cv-section{ margin:0 40px; padding:30px 0; }
				
		.first-cv-section{ margin:0; padding:20px 40px; }
			
			.person{ float:left; margin-top:10px; width:60%; }
				.person img{ float:left; margin-right:25px; padding:5px; }
				.person  h1{ margin-top:15px; }
			
			#contact-info{ float:right; margin-right:10px; }
				ul#social-media{ margin-bottom:18px; }
				ul#social-media li{ display:inline; }	
			
		.cv-section-name{ float:left; width:25% }
				
		.cv-section-items{ float:right; margin-right:10px; width:70%; font-weight: bold;}
		
			.item{ margin-bottom:20px; padding-bottom:20px; }
				
				.item h4{ float:right; margin:0 0 1em; padding:2px 10px; }
				
				.item p{ padding:0 0 15px; }
				.item ul{ padding:0 0 15px; margin-left: 40px;}
				.item ul li{}
					
			.last-item{ margin-bottom:0; padding-bottom:0; }


/* =COLORS-TYPOGRAPHY
----------------------------------*/

#cv{ background-color:#eee; border-bottom:15px solid #FDB020; border-top:15px solid #FDB020; }

	.cv-section{ border-bottom:1px solid #ddd;}
		
		.first-cv-section{ background-color:#ccc; font-size: 14px; color: black;}
			
				.person img{ 
					background-color:#FFF; 
					border:1px solid #dedede; 
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				}
				.person h1{ color:#475261; font-size:36px; font-weight:400; letter-spacing:-1px; }
				.person h2{ color:#475261; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:400; letter-spacing:-.7px; text-transform:uppercase; }
			
			#contact {margin:0; padding: 0;}
			#contact-info{ }
				ul#social-media{ list-style:none; }
				ul#social-media li{ }
				
				#contactList { 
					margin: 0px;
					padding: 0px;
					color: #111;
				}
				#contactList li {
					padding: 0;
					margin: 0;
				}
				#contactList li a {
					padding: 0;
					margin: 0;
					text-decoration: none;
					color: #111;
				}
				#contactList li i { 
					margin:0; 
					width: 10px; 
					padding: 5px; 
					padding-right: 10px; 
				}
			
		.cv-section-name{}
			h2.cv-section-name{ color:#3C4756; font-size:22px; font-style:italic; font-weight:400; letter-spacing:-1px; }
		
		.cv-section-items{ }
		
			.item{ border-bottom:1px solid #bbb; }
				
				.item h4{ background-color:#ccc; color:#333; font-size:15px; text-transform:uppercase; }
					.item h4:hover{ background-color:#000; color:#fff; }
				
				.item h2{ color:#06A; font-family:Georgia, serif; font-size:20px; font-weight:bold; letter-spacing:-1px; }
					.item h2 a{ color:#06A; text-decoration:none; }
				
				.item h3{ color:#262625; font-family:Georgia, serif; font-size:15px; font-style:italic; font-weight:bold; }
				
				.item p{ text-align:left; margin-left: 20px;}
				.item ul{ list-style:outside; text-align:left; margin-left: 40px;}
					.item ul li{ list-style-type:disc; }
					
			.last-item{ border-bottom:none; }
			
		.last-cv-section{ border-bottom:none; }
			
			
/* =EMAIL-ME
--------------------- */

.panel{ 
	background:#f8f8f8; 
	border:1px solid #dfdfdf; 
	display:none; 
	height:auto; 
	left:0; 
	padding:30px 30px 30px 170px; 
	top:100px; 
	width:330px; 
	position:fixed; 
	_position:absolute ;
}

a.emailme{ 
	_background-image:none; 
	background:#333 url(../img/bg-emailme.png) 90% 50% no-repeat; 
	border:1px solid #444; 
	color:#fff;
	display:block; 
	font-size:15px; 
	font-weight:700; 
	left:0; 
	padding:15px 40px 15px 15px; 
	_padding:15px 20px 15px 15px; 
	text-decoration:none; 
	top:119px; 
	position:fixed; 
	_position:absolute;
}
			
a.emailme:hover{ 
	background:#222 url(../img/bg-emailme.png) 90% 50% no-repeat; 
	_position:absolute; 
	_background-image:none;
}
a.active.emailme{ 
	background:#222 url(../img/bg-emailme-extended.png) 90% 50% no-repeat; 
	_position:absolute; 
	_background-image:none; 
}
	
/* =CONTACT-FORM
--------------------- */

#contact-form{width:310px;}
form p{
	clear:both;
	margin-bottom:10px;
}
input,textarea{
	background-color:#fff;
	border:1px solid #ccc;
	color:#515151;
	padding:5px;
	width:300px;
}
textarea{height:50px;}
.btn{
	_height:25px;
	_padding:2px;
	width:80px;
}

#formstatus{clear:both;font-weight:700; font-size:12px; line-height:10px; }
	.formstatuserror{color:#FF0000;}
	.formstatusok{color:#0C3;}	

		.button {
    		background-color: #008cba; /* blue */
    		border: none;
    		color: white;
    		padding: 5px 15px;
    		text-align: center;
    		text-decoration: none;
    		display: inline-block;
    		font-size: 16px;
    		margin: 4px 2px;
    		cursor: pointer;
		}
		#linksontop {
			list-style-type: none; 
			position: fixed; 
			top: 5px;
			left: 5%; 
			padding: 10px;
			width: 90%;
			border: 1px solid #ddd;
			text-align: center;
			background: rgba(255, 255, 255, 0.5);
		}
		#linksontop li { 
			display: inline-block; 
		}
		#linksontop li a { 
			color: #fff;
			text-decoration: none;
		}	


#backtotop {
cursor : pointer;
/*display : none;*/
margin : 0px 0px 0px 370px;
position : fixed;
bottom : 10px;
font-size : 90%;
padding : 10px;
width : 100px;
text-align : center;
background-color : #000;
border-radius : 8px;
-webkit-border-radius : 8px;
-moz-border-radius : 8px;
filter: alpha(opacity=60);
-khtml-opacity : 0.6;
-moz-opacity : 0.6;
opacity : 0.6;
color : #FFF;
font-size : 14px;
z-index : 10000;
font-family: arial;
}

#backtotop:hover {
filter : alpha(opacity=90);
-khtml-opacity : 0.9;
-moz-opacity : 0.9;
opacity : 0.9;
}

		.myicons { margin:0; padding: 3; padding-right: 7; }
		.myclass { font-size: 12pt; font-weight: bold; text-align: right; }
		.fontclass { font-size: 11pt; color: black; }
		.item p {
			margin-left: 20px;
		}
		.fa {
  			padding: 6px;
  			font-size: 8pt;
  			width: 16px;
  			text-align: center;
  			text-decoration: none;
  			margin: 5px 2px;
		}
		
		.fa:hover {
    			opacity: 0.7;
		}

		.fa-facebook {
  			background: #3B5998;
  			color: white;
		}

		.fa-twitter {
  			background: #55ACEE;
  			color: white;
		}

		.fa-google {
  			background: #dd4b39;
  			color: white;
		}

		.fa-linkedin {
  			background: #007bb5;
  			color: white;
		}
		.fa-flickr {
  			background: #f40083;
  			color: white;
		}

		.fa-yahoo {
  			background: #430297;
  			color: white;
		}
		.fa-skype {
  			background: #00aff0;
  			color: white;
		}

		.fa-android {
  			background: #a4c639;
  			color: white;
		}
		.fa-youtube {
  			background: #bb0000;
  			color: white;
		}

		.fa-instagram {
  			background: #125688;
  			color: white;
		}

		.fa-pinterest {
  			background: #cb2027;
  			color: white;
		}
	